<div class="ttt-player-panel">
  <ng-template [ngIf]="isFirstCurrentPlayer()">
    <div class="ttt-player-1 ttt-cross">
      <mat-icon class="ttt-vertical-align">close</mat-icon>
      <span class="ttt-vertical-align text-uppercase">Player 1</span>
    </div>
  </ng-template>

  <ng-template [ngIf]="isSecondCurrentPlayer()">
    <div class="ttt-player-2 ttt-zero">
      <mat-icon class="ttt-vertical-align">radio_button_unchecked</mat-icon>
      <span class="ttt-vertical-align text-uppercase">Player 2</span>
    </div>
  </ng-template>
</div>

