/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Sizes*/
$ttt-default-size: 16px;
$ttt-blue: #33CCFF;
$ttt-red: #FF9966;

.ttt-zero {
  color: $ttt-blue;
}

.ttt-cross {
  color: $ttt-red;
}


